.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 25px;
    font-size: 14px;
    line-height: 19.96px;
    color: white;
    border-radius: 12px;
    background-color: #FF6060;
    padding: 3px 30px;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
}

.loc_info{
    &-tags{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}