.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 25px;
    font-size: 14px;
    line-height: 19.96px;
    color: white;
    border-radius: 12px;
    background-color: #FF6060;
    padding: 3px 30px;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
}