:root{
    --heights: 415px;
    --widths: 100%; 
}

.slider-container{
    height: var(--heights);
    width: var(--widths);
    position: relative;
    overflow: hidden;
}
.slide-image{
    width: var(--widths);
    height: 100%;
    position: absolute;
    object-fit: cover;
}
