@import"../../../pages/Home/style/home.scss";
@import"../../../components/Header/style/header.scss";
@import"../../../components/Card/style/card.scss";
@import"../../../components/Footer/style/footer.scss";
@import"../../../pages/Error/style/error.scss";
@import"../../../pages/APropos/style/propos.scss";
@import"../../../pages/Fiches/style/fiches.scss";
@import"../../../components/Banner/style/banner.scss";
@import"../../../components/Collapse/style/collapse.scss";
@import"../../../components/Slider/style/slider.scss";
*{
    margin: 0px;
    padding: 0;
    border: 0;
    font-family: 'Montserrat';
}
@media (max-width: 768px) {
    body{
        max-width: 768px;
        padding: 20px;
    }
    .header{
        padding: 0 ;
        margin: 30px auto;
    &-nav{
        margin-left: 26px;
        font-size: 12px;
        line-height: 17.11px;
    }
    &-img{
        width: 145px;
        height: 46.88px;
    }
    }
    .banner{
        height: 111px;
        text-align: start;
        margin-bottom: 22px;
        border-radius: 10px;
        position: relative;
    &_img{
        height: 100%;
        border-radius: 10px;
        &-text{
            position: absolute;
            top: 25%;
            left: 19px;
            font-size: 24px;
            width: 66%;
        }
    }
    }
    .home{
        margin: 0 auto;
        padding: 0;
&_card-container{
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        padding-top: 0;
        padding-bottom: 27px;
        gap: 20px;
    }}
    .card{
        width: 100%;
    }
    .footer{
        text-align: center;
        font-size: 12px;
        margin-top: 0px;
    }
    .collapse{ 
        margin-bottom: 0;

    &_title{ 
        padding: 0 10px;
        & h4{
            font-size: 13px;
           }
        }
    &_content{
        font-size: 10px;
    }
    &_icon{
        width: 16px;
        height: 9.14px;
        top: 10px;
        right: 10px;
        &:hover{
            width: 18px;
            height: 11px;
        }
        }
    } 
    .error{
        &_msg{
            width: 260px;
            font-size: 18px;
            line-height: 25.67px;
            margin-bottom: 113px;
            text-align: center;
        }
        &_img{
            height: 99px;
            width: 198px;
        }
    }
    .return_link{
        margin-bottom: 113px;
    }
}