@import"../../../pages/Home/style/home.scss";
@import"../../../components/Header/style/header.scss";
@import"../../../components/Card/style/card.scss";
@import"../../../components/Footer/style/footer.scss";
@import"../../../pages/Error/style/error.scss";
@import"../../../pages/APropos/style/propos.scss";
@import"../../../pages/Fiches/style/fiches.scss";
@import"../../../components/Banner/style/banner.scss";
@import"../../../components/Collapse/style/collapse.scss";
@import"../../../components/Slideshow/style/slideshow.scss";
@import"../../../components/Tags/style/tags.scss";
@import"../../../components/Tags/style/tags.scss";
@import"../../../components/Title/style/title.scss";
@import"../../../components/Arrow/style/arrow.scss";
@import"./keyframe/keyframe.scss";
@import"../../../components/Host/style/host.scss";
@import"../../../components/Rating/style/rating.scss";
@import"../../../components/Equipements/style/equipements.scss";

*{
    margin: 0px;
    padding: 0;
    border: 0;
    font-family: 'Montserrat';
}
@media (max-width: 768px) {
    body{
        max-width: 768px;
        padding: 20px;
    }  
}