.collapse{
    width: 82.5%;
    height: 52px;
    margin-bottom: 32px;
    &_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 15px;
        background-color: #FF6060;
        border-radius: 5px;        
        position: relative;
        cursor: pointer;
        & h4{
        font-size: 24px;
        font-weight: 500;
        line-height: 34.22px;
        color: #FFFFFF;            
        }
    }
    &_icon{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 13.71px; 
        transform: rotate(0);
        transform-origin: 50% 50%;
        transition: all .4s ease-in;
        &:hover{
            width: 26px;
            height: 16px;
        }
    }
    &_content{
        background-color: #F6F6F6;
        color: #FF6060;
        margin-bottom: 30px;
        padding: 18px 20px 20px 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.67px;
        transform: scaleY(0);
        transform-origin: 50% 0;
        visibility: hidden;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all .2s  ease-in .2s;
        &-text{
            transform: scaleY(0);
            transform-origin: 50% 0;
            visibility: hidden;
            height: 0;
            opacity: 0;
            transition: all .2s ease-in;
        }
    }     
}
.active{
    visibility: visible;
    height: auto;
    overflow: visible; 
    opacity: 1;
    transform-origin: 50% 0;
    transform: scaleY(1);
    transition: all .4s ease-in;
    & .collapse{
        &_icon{
            transform-origin: 50% 50%;
            transform: rotate(-180deg);
        }
        &_content{
            transition: all .2s  ease-in .1s;
            &-text{
                transition: all .2S ease-in .2s;
            }
        }
    }
}
.loc_info{
    &-collapse{
        width: 100%;
        display: flex;
        margin-bottom: 50px;
        gap: 76px;
    }
}

@media (max-width: 768px){
.collapse{ 
        margin-bottom: 0;

    &_title{ 
        padding: 0 10px;
        & h4{
            font-size: 13px;
           }
        }
    &_content{
        font-size: 10px;
        line-height: 17.11px;
        }
    &_icon{
        width: 16px;
        height: 9.14px;
        top: 10px;
        right: 10px;
        &:hover{
            width: 18px;
            height: 11px;
            }
        }
    }
.active .collapse{
    &_content{
        height: 151px;
    }
}
.loc_info{
    &-collapse{
        width: 100%;
        flex-direction: column;
        margin-top: 35px;
        margin-bottom: 37px;
        gap: 0;
            & .collapse{
                width: 100%;
            }
        }
    } 
}