
.arrow_right {
    position: absolute;
    top: 40%;
    left: 94%;
    z-index: 100;
    cursor: pointer;
}

.arrow_left {
    position: absolute;
    top: 40%;
    left: 23.36px;
    z-index: 100;
    cursor: pointer;
}