.arrow_right {
    width: 46.68px;
    height: 79.2px;
    position: absolute;
    top: 40%;
    right: 23.36px;
    z-index: 100;
    cursor: pointer;
}

.arrow_left {
    width: 46.68px;
    height: 79.2px;
    position: absolute;
    top: 40%;
    left: 23.36px;
    z-index: 100;
    cursor: pointer;
}

@media (max-width: 768px){
    .arrow_left{
        width: 11.67px;
        height: 19.8px;
        top: 45%;
        left: 5.84px;
    }
    .arrow_right{
        width: 11.67px;
        height: 19.8px;
        top: 45%;
        right: 5.84px;
    }
}