
.arrow_right {
    position: relative;
    top: 160px;
    left: 1185px;
    z-index: 100;
    cursor: pointer;
}

.arrow_left {
    position: relative;
    top: 160.5px;
    left: -40px;
    z-index: 100;
    cursor: pointer;
}