.home{
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 0 100px;
    &_card-container{
        width: 100%;
        padding-top: 56px;
        padding-bottom: 43px;
        margin-bottom: 50px;
        border-radius: 25px;
        background: #F6F6F6;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media (max-width: 768px){
.home{
        margin: 0 auto;
        padding: 0;
    &_card-container{
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            padding-top: 0;
            padding-bottom: 27px;
            gap: 20px;
        }   
    }
}